<% @page_title = "Lantern Doctor" %>

<% if @lantern_incidents.count > 0 %>
  <div class="space-y-1">
    <%== render(
      "components/breadcrumb",
      locals: {
        back: @project_data[:path],
        parts: [%w[Projects /project], [@project_data[:name], @project_data[:path]], ["Lantern Doctor", "#"]]
      }
    ) %>

    <%== render(
      "components/page_header",
      locals: {
        title: "Lantern Doctor Incidents",
        right_items: []
      }
    ) %>
  </div>

  <div class="grid gap-6">
    <div class="rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Summary</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">State</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Show</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% @lantern_incidents.each do |pg| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6" scope="row">                <%== render("components/pg_state_label", locals: { state: pg[:severity] }) %> <%= pg[:label] %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= pg[:incidents][0][:summary] %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%== render("components/pg_state_label", locals: { state: pg[:incidents][0][:status] }) %>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 flex flex-col">
                <form action="<%= "#{@project_data[:path]}#{pg[:incidents][0][:path]}/trigger" %>" role="form" method="POST">
                <%== csrf_tag("#{@project_data[:path]}#{pg[:incidents][0][:path]}/trigger") %>
                  <div class="col-span-12 sm:col-span-2 flex pb-1">
                    <%== render("components/form/submit_button", locals: { text: "Trigger" }) %>
                  </div>
                </form>
                <form action="<%= "#{@project_data[:path]}#{pg[:incidents][0][:path]}/ack" %>" role="form" method="POST">
                <%== csrf_tag("#{@project_data[:path]}#{pg[:incidents][0][:path]}/ack") %>
                  <div class="col-span-12 sm:col-span-2 flex pb-1">
                    <%== render("components/form/submit_button", locals: { text: "Ack" }) %>
                  </div>
                </form>
                <form action="<%= "#{@project_data[:path]}#{pg[:incidents][0][:path]}/resolve" %>" role="form" method="POST">
                <%== csrf_tag("#{@project_data[:path]}#{pg[:incidents][0][:path]}/resolve") %>
                  <div class="col-span-12 sm:col-span-2 flex">
                    <%== render("components/form/submit_button", locals: { text: "Resolve" }) %>
                  </div>
                </form>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%== render(
    "components/empty_state",
    locals: {
      icon: "hero-circle-stack",
      title: "No Lantern Doctor incidents"
    }
  ) %>
<% end %>
