<% @page_title = @pg[:name] %>

<div class="space-y-1">
  <%== render(
    "components/breadcrumb",
    locals: {
      back: "#{@project_data[:path]}/postgres",
      parts: [
        %w[Projects /project],
        [@project_data[:name], @project_data[:path]],
        ["Lantern Databases", "#{@project_data[:path]}/lantern"],
        [@pg[:name], "#"]
      ]
    }
  ) %>
  <%== render(
    "components/page_header",
    locals: {
      title: @pg[:name],
      right_items: [render("components/pg_state_label", locals: { state: @pg[:state], extra_class: "text-md" })]
    }
  ) %>
</div>
<div class="grid gap-6">
  <!-- Detail Card -->
  <% data = [
    ["ID", @pg[:ubid]],
    ["Name", @pg[:name]],
    ["Org Id", @pg[:org_id]],
    ["Instance Id", @pg[:instance_id]],
    ["Instance Type", @pg[:instance_type]],
    ["Lantern Version", @pg[:lantern_version]],
    ["Extras Version", @pg[:extras_version]],
    ["Minor Version", @pg[:minor_version]],
    ["Location", @pg[:location]],
    ["Compute", @pg[:vm_size]],
    ["Storage", "#{@pg[:storage_size_gib]} GB"]
  ]

  if @pg[:connection_string] == ""
    data.push(["Connection String", "Waiting for host to be ready..."])
  else
    data.push(["Connection String", @pg[:connection_string], { copieble: true, revealable: true }])
  end %>
  <!-- Reset password -->
  <% if @pg[:primary?] %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <div class="px-4 py-5 sm:p-6">
        <form action="<%= "#{@project_data[:path]}#{@pg[:path]}/reset-superuser-password" %>" role="form" method="POST">
          <%== csrf_tag("#{@project_data[:path]}#{@pg[:path]}/reset-superuser-password") %>
          <div class="space-y-4">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Reset superuser password</h2>
            </div>
            <div class="grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-5">
                <%== render(
                  "components/form/text",
                  locals: {
                    label: "New password",
                    name: "original_password",
                    type: "password",
                    attributes: {
                      required: true
                    }
                  }
                ) %>
              </div>
              <div class="col-span-12 sm:col-span-5">
                <%== render(
                  "components/form/text",
                  locals: {
                    label: "New password (repeat)",
                    name: "repeat_password",
                    type: "password",
                    attributes: {
                      required: true
                    }
                  }
                ) %>
              </div>
              <div class="col-span-12 sm:col-span-2 flex justify-end items-end">
                <%== render("components/form/submit_button", locals: { text: "Reset" }) %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  <% end %>
  <% if Authorization.has_permission?(@current_user.id, ["Postgres:edit", "Postgres:delete"], @pg[:id]) %>
    <div class="overflow-hidden rounded-lg shadow ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
      <!-- Restart Card -->
      <% if Authorization.has_permission?(@current_user.id, "Postgres:edit", @pg[:id]) %>
        <div class="px-4 py-5 sm:p-6">
          <form action="<%= "#{@project_data[:path]}#{@pg[:path]}/restart" %>" role="form" method="POST">
            <%== csrf_tag("#{@project_data[:path]}#{@pg[:path]}/restart") %>
            <div class="sm:flex sm:items-center sm:justify-between">
              <div>
                <h3 class="text-base font-semibold leading-6 text-gray-900">Restart Lantern database</h3>
                <div class="mt-2 text-sm text-gray-500">
                  <p>This action will restart the Lantern database. The database will be offline momentarily, and all
                    connections will be dropped.</p>
                </div>
              </div>
              <div id="postgres-restart-<%=@pg[:ubid]%>" class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
                <div class="col-span-12 sm:col-span-2 flex justify-end items-end">
                  <%== render("components/form/submit_button", locals: { text: "Restart", extra_class: "restart-btn" }) %>
                </div>
              </div>
            </div>
          </form>
        </div>
      <% end %>
      <!-- Delete Card -->
      <% if Authorization.has_permission?(@current_user.id, "Postgres:delete", @pg[:id]) %>
        <div class="px-4 py-5 sm:p-6">
          <div class="sm:flex sm:items-center sm:justify-between">
            <div>
              <h3 class="text-base font-semibold leading-6 text-gray-900">Delete Lantern database</h3>
              <div class="mt-2 text-sm text-gray-500">
                <p>This action will permanently delete this Lantern database.</p>
              </div>
            </div>
            <div id="postgres-delete-<%=@pg[:ubid]%>" class="mt-5 sm:ml-6 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
              <%== render(
                "components/delete_button",
                locals: {
                  url: request.path,
                  confirmation: @pg[:name],
                  redirect: "#{@project_data[:path]}/postgres"
                }
              ) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
